pipeline/PL_ENTCS_CDIO_Dashboard_bkp.json
{
	"name": "PL_ENTCS_CDIO_Dashboard_bkp",
	"properties": {
		"activities": [
			{
				"name": "DRS_AzureSqlServer_CopyActivity_0k_5k",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_entcs_CopyActivity_0k_10k",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_0k_5k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "fetchIamToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://iam.cmp.barco.com/auth/realms/EDP/protocol/openid-connect/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"Authorization": "Basic aW90LnNlcnZpY2U6MGFlN2FmYzMtNTU5MS00OTg3LWIwYTMtYmZhN2JjYWU0MzU1"
					},
					"body": "username=svc.iot.configuration&password=Wd50jt04suk02v72&scope=cmp.de.drs.device.read&grant_type=password"
				}
			},
			{
				"name": "DRS_AzureSqlServer_CopyActivity_10k_15k",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_5k_10k",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_10k_15k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DRS_AzureSqlServer_CopyActivity_20k_25k",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_15k_20k",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_20k_25k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DRS_AzureSqlServer_CopyActivity_15k_20k",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_10k_15k",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_15k_20k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DRS_AzureSqlServer_CopyActivity_5k_10k",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_0k_5k",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_5k_10k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DRS_AzureSqlServer_CopyActivity_25k_30k",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_20k_25k",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_25k_30k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DRS_AzureSqlServer_entcs_CopyActivity_0k_10k",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "fetchIamToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "IF OBJECT_ID(N'dbo.DeviceOverview_New', N'U') IS NULL\nBEGIN\nCREATE TABLE [dbo].[DeviceOverview_New](\n\t[article] [nvarchar](200) NULL,\n\t[serial] [nvarchar](200) NULL,\n\t[type] [nvarchar](200) NULL,\n\t[status] [nvarchar](200) NULL,\n\t[softwareVersion] [nvarchar](200) NULL,\n\t[latestConnectionDate] [datetime2](7) NULL,\n\t[hwCoverageEnd] [date] NULL,\n\t[hwCoverageExpired] [nvarchar](200) NULL,\n\t[soldToAccountId] [nvarchar](200) NULL,\n\t[soldToAccountName] [nvarchar](200) NULL,\n\t[partnerAccountId] [nvarchar](200) NULL,\n\t[partnerAccountName] [nvarchar](200) NULL,\n\t[customerAccount] [nvarchar](200) NULL,\n\t[address] [nvarchar](500) NULL,\n\t[zip] [nvarchar](200) NULL,\n\t[city] [nvarchar](200) NULL,\n\t[state] [nvarchar](200) NULL,\n\t[country] [nvarchar](200) NULL,\n\t[contactName] [nvarchar](200) NULL,\n\t[contactEmail] [nvarchar](200) NULL,\n\t[contactPhone] [nvarchar](200) NULL,\n\t[deviceFriendlyName] [nvarchar](200) NULL,\n\t[warrantyEnd] [date] NULL,\n\t[warrantyExpired] [nvarchar](200) NULL,\n\t[serviceContract] [nvarchar](200) NULL,\n\t[serviceContractEnd] [date] NULL,\n\t[registrationDate] [date] NULL,\n\t[accountId] [nvarchar](200) NULL,\n\t[deviceId] [nvarchar](200) NULL,\n\t[productLine] [nvarchar](200) NULL,\n\t[productTeam] [nvarchar](200) NULL,\n\t[cloudServiceLevel] [nvarchar](200) NULL,\n\t[shippingDate] [date] NULL\n) ON [PRIMARY] \nEND\nELSE\nBEGIN\nTRUNCATE TABLE  [dbo].[DeviceOverview_New]\nEND",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_entcs_0k_10k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Rename_SQL_Tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_55k_60k_copy1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Rename_DeviceOverview_Table]"
				},
				"linkedServiceName": {
					"referenceName": "ls_dep_data_prd01_ss",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DRS_AzureSqlServer_CopyActivity_30k_35k_copy1",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_25k_30k",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_30k_35k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DRS_AzureSqlServer_CopyActivity_35k_40k_copy1_copy1",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_30k_35k_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_35k_40k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DRS_AzureSqlServer_CopyActivity_45k_50k",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_40k_45k",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_45k_50k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DRS_AzureSqlServer_CopyActivity_40k_45k",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_35k_40k_copy1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_40k_45k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DRS_AzureSqlServer_CopyActivity_50k_55k_copy1",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_45k_50k",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_50k_55k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DRS_AzureSqlServer_CopyActivity_55k_60k_copy1_copy1",
				"description": "This activity fetches the data for product team ENTCS and copies it to Azure SQL database.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DRS_AzureSqlServer_CopyActivity_50k_55k_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:05:01",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('fetchIamToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['article']"
								},
								"sink": {
									"name": "article",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serial']"
								},
								"sink": {
									"name": "serial",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['type']"
								},
								"sink": {
									"name": "type",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"name": "status",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['softwareVersion']"
								},
								"sink": {
									"name": "softwareVersion",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['latestConnectionDate']"
								},
								"sink": {
									"name": "latestConnectionDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageEnd']"
								},
								"sink": {
									"name": "hwCoverageEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['hwCoverageExpired']"
								},
								"sink": {
									"name": "hwCoverageExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountId']"
								},
								"sink": {
									"name": "soldToAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['soldToAccountName']"
								},
								"sink": {
									"name": "soldToAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountId']"
								},
								"sink": {
									"name": "partnerAccountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['partnerAccountName']"
								},
								"sink": {
									"name": "partnerAccountName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['customerAccount']"
								},
								"sink": {
									"name": "customerAccount",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"name": "address",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['zip']"
								},
								"sink": {
									"name": "zip",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['city']"
								},
								"sink": {
									"name": "city",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['state']"
								},
								"sink": {
									"name": "state",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"name": "country",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactName']"
								},
								"sink": {
									"name": "contactName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactEmail']"
								},
								"sink": {
									"name": "contactEmail",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['contactPhone']"
								},
								"sink": {
									"name": "contactPhone",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceFriendlyName']"
								},
								"sink": {
									"name": "deviceFriendlyName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['warrantyEnd']"
								},
								"sink": {
									"name": "warrantyEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['warrantyExpired']"
								},
								"sink": {
									"name": "warrantyExpired",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContract']"
								},
								"sink": {
									"name": "serviceContract",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['serviceContractEnd']"
								},
								"sink": {
									"name": "serviceContractEnd",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['registrationDate']"
								},
								"sink": {
									"name": "registrationDate",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "['accountId']"
								},
								"sink": {
									"name": "accountId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['deviceId']"
								},
								"sink": {
									"name": "deviceId",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productLine']"
								},
								"sink": {
									"name": "productLine",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['productTeam']"
								},
								"sink": {
									"name": "productTeam",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['cloudServiceLevel']"
								},
								"sink": {
									"name": "cloudServiceLevel",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['shippingDate']"
								},
								"sink": {
									"name": "shippingDate",
									"type": "DateTime"
								}
							}
						],
						"collectionReference": "$['deviceList']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "ds_drs_devices_endpoint_55k_60k",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureSqlDb_deviceOverview",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-06-16T03:54:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}